# Port to expose on the host
PORT=8080

# Hugging Face Model ID
MODEL_ID=Alibaba-NLP/gte-multilingual-base

# Data type precision (e.g. float16, float32)
DTYPE=float16

# Hugging Face Text Embeddings Inference Docker Image
TEI_IMAGE=ghcr.io/huggingface/text-embeddings-inference:cpu-1.7

# Optional Hugging Face Hub token (required for gated or private models)
# HF_TOKEN=hf_xxx
